.contact-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #ececec;
}

.contact-form {
    flex: 1;
    position: relative;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
}

.contact-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0.4; /* Dim background */
}

.contact-form form {
    position: relative;
    z-index: 1;
}

.contact-form h2 {
    margin-bottom: 15px;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    flex: 1;
    padding: 20px;
}

.contact-info h2 {
    text-align: center;
}

.address {
    background: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
